<h1>Images Search</h1>
<form class="search-form" id="search-form">
  <input
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit">Search</button>
</form>

<ul class="gallery"></ul>
<!-- Pagination -->
<div class="page-number">
  <button id="prev">Prev</button>
  <input type="number" name="pageNumber" />
  <span></span>
  <button id="next">Load more</button>
</div>